

/*navbar*/
#navbar {
    background-color: #cfc5bc;
}


.fa-bars {
    color: black;
}


/*jumbotron*/
#jumbotron {
    background-color: #cfc5bc;

}

#container {
    background-color: #a7b8b5;
}

#heading {
    font-family: 'Pacifico', cursive;
    color: #082d3a;
    font-size: 60px;
    text-align: center;
}

#subHeading {
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
}


/* cards */

/* card 1*/
.card1 {
    border-style: solid;
    border-color: black;
    align-content: center;
}

#barbie {
    height: 200px;
    width: 200px;
    align-content: center;
}

/* card 2*/
.card2 {
    border-style: solid;
    border-color: black;
}

.card3 {
    border-style: solid;
    border-color: black;
}

.card4 {
    border-style: solid;
    border-color: black;
}



/*
FONTS:
font-family: 'Noto Serif JP', sans-serif;
font-family: 'Lora', serif;
font-family: 'Pacifico', cursive;
 

COLOR PALLET #3848: 
#000205
#082d3a
#267491
#a7b8b5
#cfc5bc