
#navbar {

}

#barnav {

}

.fa-bars {
    color: black;
}

#jumbotron {
    background-color: 

}

#container {
    background-color: #a7b8b5;
}

#heading {
    font-family: 'Pacifico', cursive;
    color: #082d3a;
    font-size: 60px;
    text-align: center;
}

#subHeading {
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
}












/*
FONTS:

font-family: 'Noto Serif JP', sans-serif;
font-family: 'Lora', serif;
font-family: 'Pacifico', cursive;

*/



/* 
COLOR PALLET #3848


#000205
#082d3a
#267491
#a7b8b5
#cfc5bc